{% extends 'my_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main-content %}
<div class="container-fluid top-space-medium linear" >
    <div class="row mt-4 mb-4" >
        <div  style="padding-top: 40px; padding-bottom: 10px;  " class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 m-auto mt-4 mb-4">
            
            <h2  class="large-bold text-center white">What Do We Represent</h2>
            <p class="text-center post-body white p-4" >Signacode represents an organisation of professional and creative software developers devoted to solving challenges for our clients. Here at signacode, We can boast of delivering the best and nothing short. 
                We've spent years serving our clients within the tech niche and that has helped us to better understand the market. </p>
            <p class="text-center post-body white p-4" > </p>
        </div>  
     </div>
</div>

    

{% endblock main-content %}


