{% extends 'my_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header-content %}
<div class="container ">
    <div class="row header-content mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 div-bg mb-4 pl-4">
            

            <h4 class="head-text mb-1" style="color: #3c43ad !important;">Everything Tech </h4>
            <p class="text-capitalize small med-text mb-4">Stay updated and never miss out on tech trends and
                opportunities</p>

            <a class="button mt-4" href="#services">Join The Move</a>

            <a class="button mt-4 ml-4" href="#">Login</a>
            <div class="col-10 mb-2">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags }}">
                    <p style="font-size: 14px; font-weight: 800; color: white !important;">{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4 svg-div">
            <div class="img mb-4">
                <!-- <img class="img-one" src="{% static 'my_app/images/startup.svg' %}"> -->
                <img class="img-one" src="{% static 'my_app/images/happygirl.png' %}">
                <img class="img-two" src="{% static 'my_app/images/happygirl.png' %}">
                <!-- <img class="img-two" src="{% static 'my_app/images/happy.svg' %}"> -->
            </div>
        </div>


    </div>
</div>
{% endblock header-content %}

{% block main-content %}
<div id="svg-curve" class="svg-curve m-0" style="position: relative; top: -150px;">

    <div class="curve-upper">
        <svg style="display: block; padding: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
            <path fill="#3c43ad" fill-opacity="1"
                d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,600,139,720,106.7C840,75,960,53,1080,42.7C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="col-10 col-sm-10 col-md-7 col-lg-7 p-4 m-auto text-center" style="border-radius: 2px solid white;">
        <p class="small-p text-capitalize text-center">SIGNACODE SOLUTIONS</p>
        <h3 class="bold-text mb-1 text-center white">Bring Your Ideas To Reality </h3>
        <p class="text-center mb-4 white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ab quod a
            nisi
            dicta!</p>
        <a class="default-btn medium-btn mt-4 text-center mt-4" href="#">Start a project</a>
    </div>

    <svg style="display: block; padding: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path class="lower-div linear" fill-opacity="1"
            d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,600,139,720,106.7C840,75,960,53,1080,42.7C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
    </svg>
</div>




<div id = "services" class="container-fluid mb-4" style="position: relative; top: -180px; margin-bottom: 70px;" >
    <h3 class="bold-text m-auto text-center" style="color: #3c43ad;">Services</h3>
    <hr class="m-auto text-center mb-4"
        style="size: 20%; color: white !important; width: 10%; border: 3px solid #3c43ad; align-self: center;">
    <p class="large-p text-center ">Let's help you bring your idea to reality. We offer a range of services to position
        your company ahead.</p>
    <div class="row" style="background-color: #3c43ad; margin-top: 60px;">
        
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-4 coloured-bg grid-hover-div" >
            <div>
                <h5 class="describe-title-white"><span><i class="fas fa-cube"></i></span> Software Dev</h5>
                <hr style="size: 30%; color: white !important; width: 25%; border: 3px solid white;">
                <p class="white"> We leverage on the best design techniques to produce innovative softwares for your business. We understand the world is changing and we keep evolving with it by using the most recent tech stacks to create mindblowing applications</p>
                
                <a href="#" class="default-btn small-btn circle"><span><i class="fas fa-cube"></i></span> Start Project</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 web-img-div translate-y grid-hover-div" >
            <!-- <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'my_app/images/collage-grid-dark.jpg' %}"> -->
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-4 coloured-bg grid-hover-div" >
            <div>
                <h5 class="describe-title-white"><span><i class="fas fa-cube"></i></span> Business Branding</h5>
                <hr style="size: 30%; color: white !important; width: 25%; border: 3px solid white;">
                <p class="white"> Here at Signacode, We intertwine branding and technology. We help our clients build a dogged business identity and customer experience. Our branding packages will give your brand a clear way to own the market</p>
                
                <a href="#" class="default-btn small-btn circle"><span><i class="fas fa-cube"></i></span> Start Project</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4  branding-img-div translate-y grid-hover-div">
            <!-- <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'my_app/images/collage-grid-dark.jpg' %}"> -->
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-4 coloured-bg grid-hover-div" >
            <div>
                <h5 class="describe-title-white"><span><i class="fas fa-cube"></i></span> Signalearn</h5>
                <hr style="size: 30%; color: white !important; width: 25%; border: 3px solid white;">
                <p class="white"> Get equipped with undeniable skills of the century by enrolling for any of our classes handled by top experts. We offer classes in Blockchain, Programming and Software Development, Graphics and UI/UX Designs, Branding and a few others</p>
                
                <a href="{% url 'techschool' %}" class="default-btn small-btn circle"><span><i class="fas fa-cube"></i></span> Start Project </a>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-4 col-lg-4 learning-img-div translate-y grid-hover-div" >
            <!-- <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'my_app/images/collage-grid-dark.jpg' %}"> -->
        </div>


    </div>

</div>



<div class="container p-4 m-auto " style="position: relative; top: -80px;">

    <h3 class="bold-text m-auto text-center" style="color: #3c43ad;">SignaLEARN</h3>
    <hr class="m-auto text-center mb-4"
        style="size: 20%; color: white !important; width: 10%; border: 3px solid #3c43ad; align-self: center;">
    <p class="large-p text-center ">Learn from top tech experts from the comfort of your home at your own pace</p>
    <div class="row row-eq-height " style="margin-top: 40px;">

        <div class="col-10 m-auto col-sm-10 col-md-3 col-lg-3 card-left-design translate-y rounded p-3  mt-2">
            <div>
                <h5 class="describe-title"><span><i class="fas fa-cube"></i></span> Fullstack Dev</h5>
                <p>Master software development by building practical web apps while learning at own own pace.</p>

                <a class="default-btn small-btn" href="{% url 'learn_fullstack' %}"> Start Course</a>
            </div>

        </div>

        <div class="col-10 m-auto col-sm-10 col-md-3 col-lg-3 card-left-design translate-y rounded p-3  mt-2">
            <div>
                <h5 class="describe-title"><span><i class="fab fa-bitcoin"></i></span> Blockchain</h5>
                <p>Want to master blockchain technology? Then this course was built specifically for you.</p>
                
                <a class="default-btn small-btn"> Start Course</a>
            </div>

        </div>
        <div class="col-10 m-auto col-sm-10 col-md-3 col-lg-3 card-left-design translate-y rounded p-3 mt-2">
            <div>
                <h5 class="describe-title"><span><i class="fas fa-copyright"></i></span> Branding</h5>
                <p>Learn the art of giving your business a face and voice. Hop on the bandwagon.</p>

                <a class="default-btn small-btn"> Start Course</a>
            </div>

        </div>
        <div class="col-10 m-auto col-sm-10 col-md-3 col-lg-3 card-left-design translate-y rounded p-3 mt-2">
            <div>
                <h5 class="describe-title"><span><i class="fas fa-search-dollar"></i></span> Digital Marketing</h5>
                <p>Get equippped with the artillery to take over the digital market and meet potential customers online</p>

                <a class="default-btn small-btn"> Start Course</a>
            </div>

        </div>

    </div>
</div>






<!-- <div class="container p-4 rounded " style="position: relative; top: -80px;">
    <h3 class="bold-text m-auto text-center" style="color: #3c43ad;">Learn without limits</h3>
    <hr class="m-auto text-center mb-4"
        style="size: 20%; color: white !important; width: 10%; border: 3px solid #3c43ad; align-self: center;">

    <div class="row mt-4">
        <div class="col-11 col-sm-11 col-md-6 col-lg-6 m-auto mb-4 mt-4 p-1 text-center">
            <div style="width: 100%;">

                <img class="collage-grid-dark" style="object-fit: contain;" style="width: 90%; max-width: 90%;"
                    src="{% static 'my_app/images/collage-grid-dark.jpg' %}">
                <img class="collage-grid-light" style="object-fit: contain;" style="width: 90%; max-width: 90%;"
                    src="{% static 'my_app/images/collage-grid-light.jpg' %}">
            </div>
        </div>
        <div style="margin-top: 40px;" class="col-11 col-sm-11 col-md-6 col-lg-6 m-auto  ">
            <div class="rounded m-1 card-left-design p-3">
                <p class="small-p text-capitalize">LEARN FULLSTACK DEVELOPMENT</p>
                <p>Master software development by building practical web apps while learning at own own pace.</p>
                <a class="default-btn small-btn " href="#">View Course</a>
            </div>
            <div class="rounded m-1 card-left-design p-3">
                <p class="small-p text-capitalize">LEARN BLOCKCHAIN TECHNOLOGY</p>
                <p>Want to master blockchain technology? Then this course was built specifically for you.</p>
                <a class="default-btn small-btn" href="#">View Course</a>
            </div>
            <div class="rounded m-1 bg-light p-3 card-left-design">
                <p class="small-p text-capitalize">LEARN BUSINESS BRANDING</p>
                <p>Learn the art of giving your business a face and voice. Hop on the bandwagon. </p>
                <a class="default-btn small-btn" href="#">View Course</a>
            </div>
            <div class="rounded m-1 bg-light p-3 card-left-design">
                <p class="small-p text-capitalize">LEARN DIGITAL MARKETING</p>
                <p>Get equippped with the artillery to take over the digital market and meet potential customers online</p>
                <a class="default-btn small-btn" href="#">View Course</a>
            </div>

        </div>
    </div>
</div>
 -->



<div style=" box-shadow: inset 0 0 2000px rgba(87, 92, 95, 0.8); " class="modal fade" id="exampleModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div style="border-radius: 13px;" class="modal-content linear">
            <div class="modal-header post-bg">
                <h6 class="white"><b>Would You like to provide more information?</b></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="white">Providing us with more information about yourself and what interests you will
                    help us
                    to better serve you with streamlined contents based on your interests
                </p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'interests' %}" class="modal-button">Yes</a>
                <a href="{% url 'homepage' %}" class="modal-button">Maybe Later</a>
                <!-- <button type="button" class="modal-button" data-dismiss="modal">Maybe Later</button> -->
            </div>

        </div>
    </div>

</div>
<!-- <div class="container">
    <h3 class="bold-text" >My slider</h3>
    <ul id="autoWidth" class="cs-hidden">
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 1</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 2</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 3</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 4</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 5</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>
        <li class="item-a">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title post-heading">Post Title 6</h5>
                    <p class="card-text post-body">Some quick example text to build on the card title and make up
                        the bulk of the card's content.</p>
                    <a href="#" class="button-mini ">Read More...</a>
                </div>
            </div>
        </li>

      
      </ul>
</div> -->



<div class="container">
    <h3 class="bold-text m-auto text-center" style="color: #3c43ad;">Tech News</h3>
    <hr class="m-auto text-center mb-4"
        style="size: 20%; color: white !important; width: 10%; border: 3px solid #3c43ad; align-self: center;">
    <div class="row g-0">

        {% for news in technews %}

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mt-3 d-flex align-items-stretch">
            <div class="card techcard mt-4 mb-4 " style="width: 100%;">
                <div class="card-img-div" style="overflow: hidden; position: relative;">
                    <img class="card-img-top zoom" src="{{news.image_url}}" alt="Card image cap">

                </div>
                <div class="card-body">
                    <h6 class="card-title post-heading">{{news.title}}</h6>
                    <!-- <p class="card-text post-body">{{news.content}}</p> -->

                </div>
                <div style="text-align: center;">
                    <a href="{% url 'technews-detail' news.id %}" class="btn btn-sm btn-outline-secondary mb-2 ">Read
                        More...</a>
                </div>
            </div>
        </div>

        {% endfor %}
        <div style="margin-top: 30px !important;  margin-bottom: 30px !important;" class="m-auto text-center ">

            <a class="m-auto default-btn medium-btn mt-4 text-center mt-4" href="#">View more...</a>
        </div>
    </div>
</div>

<div class="svg-curve m-0">
    <div class="curve-upper">
       
        <svg style="display: block; padding: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
            <path fill="#3c43ad" fill-opacity="1"
                d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,600,139,720,106.7C840,75,960,53,1080,42.7C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="col-10 col-sm-10 col-md-7 col-lg-7 p-4 m-auto text-center" style="border-radius: 2px solid white;">
        <p class="small-p text-capitalize text-center">CONNECT WITH US</p>
        <h3 class="bold-text mb-1 text-center white">Chat Us On Whatsapp</h3>
        <p class="text-center mb-4 white">We are always available to offer a quick response. Let's talk about your next project</p>
        <!-- <a class="default-btn medium-btn mt-4 text-center mt-4" href="https://wa.me/23408137119423">Chat Now</a> -->
        <div id="time-div"> <a class="btn btn-lg btn-info" id="ajaxbtn">AJAX</a> </div>
    </div>
    <svg style="display: block; padding: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
        <path class="lower-div linear" fill-opacity="1"
            d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,600,139,720,106.7C840,75,960,53,1080,42.7C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
    </svg>

</div>




{% endblock main-content %}

{% block js %}



<script>
    $(document).ready(function(){

        // var ajaxbtn = document.getElementById("ajaxbtn")
        // ajaxbtn.addEventListener('click', ajaxfunc)

        $.ajax({
            url: '/ajax-home/',
            type: 'get',
            data: {
                button_text: "ajax button text"
            },
            success: function(response){
                console.log(response)
                alert(response.seconds);
                
            }
        })

    })
    

// function ajaxfunc (){
//     console.log("ajax btn clicked")


    
</script>
<script src="{% static 'my_app/js/myjs.js'%}"></script>

{% endblock js %}