{% load static %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/1.6.1/kute.min.js"
        integrity="sha512-DeLO4mdijNCQ3uOZDb1u+sUadgQUQnPr3zlPejMZBNbLi9rreaGwBjIJXYPU8WNJpRWb9LG6RpP6kdodXw6AGg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/bootstrap.min.css' %}">

    
    <link rel="stylesheet" href="{% static 'my_app/css/front.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/1.6.1/kute.min.js" integrity="sha512-DeLO4mdijNCQ3uOZDb1u+sUadgQUQnPr3zlPejMZBNbLi9rreaGwBjIJXYPU8WNJpRWb9LG6RpP6kdodXw6AGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 

    <title>SignaCode</title>
</head>

<body>
    <header class="header-img">
        <nav class="navbar navbar-expand-md navbar-dark  fixed-top collapse navbar-collapse">
            <div class="logo-div ml-4">
                <img class=" ml-1 logo" src="{% static 'my_app/images/signa_logo.png' %}">
                <img class=" ml-1 logo2" src="{% static 'my_app/images/signa_logo2.png' %}">
                <button style="border: none;  border: 2px solid #3c43ad; background-color: transparent !important;" class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-color" > <i class=" fas fa-bars" ></i></span>
                </button>
            </div>
            <div class="container  main-nav-item">

                <div class="collapse navbar-collapse " id="navbarToggle">
                    <div class="navbar-nav ml-auto pb-4 pr-4 pl-4">
                        <a class="nav-item nav-link nav-anchor menu-text m-1 mr-1 " href="{% url 'homepage' %}">Home</a>
                        <a class="nav-item nav-link nav-anchor  menu-text m-1 mr-1 "
                            href="{% url 'services' %}">Services</a>
                        <a class="nav-item nav-link nav-anchor  menu-text m-1 mr-1 "
                            href="{% url 'technews' %}">TechNews</a>

                        {% if user.is_authenticated == True %}

                        <a class="nav-item nav-link nav-anchor  menu-text m-1 mr-1 "
                            href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link nav-anchor  menu-text m-1 mr-1 "
                            href="{% url 'profile' %}">Profile</a>



                        <!-- <a href="#" class="btn  btn-outline-info btn-sm"> {{ user.username }}</a> -->
                        <!-- <a href="#" class="btn  btn-outline-info btn-sm"> <i class="material-icons-outlined g-icon" >dashboard</i></a> -->
                        {% else %}

                        <a class="nav-item nav-link nav-anchor menu-text m-1 mr-1 " href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link nav-anchor menu-text m-1 mr-1 " href="{% url 'signup' %}">SignUp</a>

                        {% endif %}
                        <label class="switch">
                            <i class="fas fa-adjust m-1 mr-1" style="color: black;"></i>
                            <div>
                                <input type="checkbox" />
                                <span class="slider round"></span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </nav>
        {% block header-content %}

        {% endblock %}

    </header>

    {% block main-content %}

    {% endblock %}
    <div class="svg-curve m-0">

        <div class="curve-upper">
            <svg style="display: block; padding: 0;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
                <path fill="#3c43ad" fill-opacity="1"
                    d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,600,139,720,106.7C840,75,960,53,1080,42.7C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
        </div>
        <div class="row m-0   container-footer" style="position: relative; top: -20px !important; ">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 p-2" style="border-left: 2px solid white;">
                <p class="footer-heading"><b>ABOUT US</b></p>
                <hr class=" text-left mb-4"
                    style="position: relative; top: -10px; size: 20%; color: white !important; width: 10%; border: 2px solid white; align-self: left;">

                <p class="text-capitalize small footer-text white">
                    Signacode Represents An Organisation Of Professional And Creative Software Developers Devoted To
                    Solving Challenges For Our Clients. Here At Signacode, We Can Boast Of Delivering The Best And
                    Nothing Short. We've Spent Years Serving Our Clients Within The Tech Niche And That Has Helped Us To
                    Better Understand The Market.
                </p>


            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2 p-2" style="border-left: 2px solid white;">

                <p class="footer-heading"><b>MENU</b></p>
                <hr class=" text-left mb-4"
                    style="position: relative; top: -10px;  size: 20%; color: white !important; width: 10%; border: 2px solid white; align-self: left;">
                <a href="{% url 'homepage' %}" class="text-capitalize small anchor-block">Home</a>
                <a href="{% url 'services' %}" class="text-capitalize small anchor-block">Services</a>
                <a href="{% url 'technews' %}" class="text-capitalize small anchor-block">Tech News</a>
                <a href="{% url 'homepage' %}" class="text-capitalize small anchor-block">Articles</a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2  p-2" style="border-left: 2px solid white;">

                <p class="footer-heading"><b>CONTACT US</b></p>
                <hr class=" text-left mb-4"
                    style="position: relative; top: -10px; size: 20%; color: white !important; width: 10%; border: 2px solid white; align-self: left;">
                <a href="#" class="text-capitalize small anchor-block">Facebook</a>
                <a href="#" class="text-capitalize small anchor-block">Instagram</a>
                <a href="#" class="text-capitalize small anchor-block">Twitter</a>
                <a href="#" class="text-capitalize small anchor-block">Penthouse Benin City</a>

            </div>

        </div>

    </div>



    <!-- my javascript contents starts here -->
    <script src="https://kit.fontawesome.com/882e7752e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- <script src="{% static 'my_app/js/myjs.js'%}"></script> -->
    {% block js %}

    {% endblock js %}

</body>

</html>