{% extends 'my_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main-content %}

<div class="container profile-container">
    <div class="row mt-4">
        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 bg-light profile-div" >
            <div class="user-image m-auto  justify-content-center">
                <img src="{% static 'my_app/images/avatar.jpg' %}" class="rounded-circle" width="30%">
            </div>
            <div class="profile-body" >
                <p class="profile-text"> Full Name: <small class="text-muted">{{ user.full_name}}</small></p>
                <p class="profile-text" > Email Address: <span class="badge badge-info">{{user.email}}</span></p>
                <p class="profile-text" > Interests: <span class="badge badge-info">Nil</span></p>
                <p class="profile-text" > Skill Set: <span class="badge badge-info">Not Stated</span></p>
                <a class="button-mini" href="#">Edit Profile</a>
                <a class="button-mini" href="#">Fill Other Details</a>

            </div>

        </div>

    </div>

</div>


{% endblock main-content %}