{% extends 'my_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main-content %}
<div class="container-fluid bg-dark top-space-medium linear" >
    <div class="row " >
        <div  class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 m-auto mt-4" >
            <p class="small-purple text-center mt-2 white pt-4">UNBEATABLE SERVICES IN SOFTWARE DEVELOPMENT</p>
            <h2 class="large-bold text-center white">Custom software development services that will help solve practical real-life challenges </h2>
            <p class="text-center post-body white p-4" >We have the most experienced software engineers readily available to handle any challenging project and take your business to the next phase</p>
        </div>
     </div>
</div>
<div class="container">     
     <div class="row mt-4">
        <div class="col-sm-10 col-md-5 col-lg-6 m-auto mt-2 p-4 bg-light" >
            <h2 class="large-bold">Web development</h2>
            <p class="text-left post-body">
                Build highly robust and responsive web applications to handle te challenging portions of your business. Automate task efficiently using custom web apps. Don't worry. We know the perfect stack for you. 
            </p>
        </div>
        <!-- now -->
        <div class="col-10 col-sm-10 col-md-7 col-lg-6 m-auto mt-2" >
            <div class="row justify-content-center bg-white p-0 mt-4">
                <div class=" col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div  class="icon-div justify-content-center">
                        <div class="p-2">
                            <i style="text-align: center; margin-left: 25%;" class="material-icons-outlined g-icon" >dashboard</i>
                        <div>

                            <p class="p-1 text-center"> Elegant</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div class="icon-div justify-content-center">
                        <div class="p-2">
                            <i  style="text-align: center; margin-left: 25%;" class="material-icons-outlined g-icon" >settings_suggest</i>    
                        <div>
                            
                            <p class="p-1 text-center"> Functional</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div class="icon-div justify-content-center">
                        <div class="p-2">
                            <i style="text-align: center; margin-left: 25%;"  class="material-icons-outlined g-icon" >flash_on</i>
                            <div>
                                <p class="p-1 text-center"> Swift</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div class="icon-div justify-content-center">
                        <div class="p-2">
                        <i style="text-align: center; margin-left: 25%;"  class="material-icons-outlined g-icon" >branding_watermark</i>
                        <div>
                            <p class="p-1 text-center">Responsive</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div class="icon-div justify-content-center">
                        <div class="p-2">
                        <i  style="text-align: center; margin-left: 25%;" class="material-icons-outlined g-icon" >settings_accessibility</i>
                        <div>
                            <p class="p-1 text-center"> Bespoke</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-5  col-sm-5 col-md-3 col-lg-3 ml-1 mt-1" style="padding: 2px;">
                    <div class="icon-div justify-content-center">
                        <div class="p-2">
                            <i style="text-align: center; margin-left: 25%;" class="material-icons-outlined g-icon" >monetization_on</i>
                            <div>
                                <p class="p-1 text-center"> Profitable</p>
                            </div>
                        </div>
                    </div>
                </div>
                        

            </div>
        </div>
     </div>
    </div>       

    <div class="container mt-4 " >
        <div class="row p-1">
            <div class="col-sm-10 col-md-6 col-lg-6 m-auto mt-2 mb-4 p-4 bg-light ">
                <h2 class="large-bold">Mobile App Dev</h2>
                <p class="text-left post-body">
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, est! Earum enim temporibus magni, sint deserunt assumenda aliquam, reprehenderit asperiores animi dolorem praesentium cumque delectus sapiente ratione, rem laboriosam ea odio omnis veniam dolore? Qui modi laboriosam nostrum! Quod corporis quasi assumenda minus veritatis eaque fugiat vitae ratione itaque earum. -->
                    We build elegant and functional mobile applications to meet the needs of your startup or organisation. Let's help you transform that idea into a functional product that will scale unimaginable heights
            </p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-6 m-auto mt-2 mb-4" style="padding: 2px;">
                <div class="row justify-content-center">
                    <div class="col-5  col-sm-5 col-md-3 col-lg-3 m-1">
                        <div class="icon-div justify-content-center">
                            <div class="p-1">
                            <i style="text-align: center; margin-left: 20%;" class="material-icons-outlined g-icon" >adb</i>
                            <div>
                                <p class="p-1 text-center"> Android</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5  col-sm-5 col-md-3 col-lg-3 m-1 mb-4">
                        <div class="icon-div justify-content-center">
                            <div class="p-1">
                            <i style="text-align: center; margin-left: 20%;" class="material-icons-outlined g-icon" >phone_iphone</i>
                            <div>
                                <p class="p-1 text-center"> IOS</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 m-auto bg-dark mt-4" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-4 mt-4">
                    <p class="large-bold white" >All our previous projects have proven satisfactory</p>
                    <hr width="70%" color="white" noshade>
                    <p class="white text-center" style="font-size:small; color: white;"> products are tested before deployment to ensure robust result</p>
                    </div>    
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 img-div2">
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>    
                </div>

            </div>

        </div>
    </div>

 
 <div class="container">
     <div class="row">
         <div class="col-12 col-sm-12 col-md-6 col-lg-6 m-auto mt-4">
            <h2 class="large-bold">Business Branding</h2>
            <p class="text-left post-body">
                <!-- Build highly robust and responsive web applications to handle te challenging portions of your business. Automate task efficiently using custom web apps. Don't worry. We know the perfect stack for you.  -->
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse ut repellendus debitis quidem et, nostrum expedita delectus tempore! Facilis reprehenderit delectus, expedita rerum dicta veritatis dolorem reiciendis officiis. Voluptatem?
            </p>
         </div>
         <div class="col-12 col-sm-12 col-md-6 col-lg-6 m-auto ">
            <div class="img mb-4">
                <img src="{% static 'my_app/images/branding.svg' %}">
            </div>
         </div>

     </div>

 </div>
    
 <div class="container-fluid bg-light">
    <div class="row mt-4">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-auto justify-content-center text-center mt-4">
           <div class="p-4">
           <h3>Want to start a project?</h3>

           <a href="#collapseForm" class="btn btn-lg btn-outline-secondary" data-toggle="collapse">Start Project </a>
           </div>
           <div class="collapse mt-3 "  id="collapseForm">
               <form method="POST" class="p-4">
                   <p class="small text-capitalize">Send Us a mail for your Project</p>
                               {% csrf_token %}
                             <div class="form-group" id="inputUsername">
       
                               {{ form|crispy }}
                             </div>
                       {% if messages %}
                               {% for message in messages %}
                           <div class="alert alert-{{message.tags }}">
                               {{ message }}
                           </div>
                               {% endfor %}
                               {% endif %}
                       <button class="btn btn-lg btn-outline-info btn-lg text-capitalize text-center mb-2" type="submit">Send Message</button>
       
       
                           </form>
           </div>    
       </div>

    </div>

</div>
       
        
        
        

    




{% endblock main-content %}


