{% extends 'my_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header-content %}
<div class="container header-content">
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 div-bg mb-4 pl-4">
            <h4 class="head-text mb-1">Everything Tech </h4>
            <p class="text-capitalize small med-text mb-4">Stay updated and never miss out on tech trends and
                opportunities</p>
            <a class="button mt-4" href="#">Join The Move</a>
            <a class="button mt-4 ml-4" href="#">Login</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4 svg-div">
            <div class="img mb-4">
                <img class="img-one" src="{% static 'my_app/images/startup.svg' %}">
                <img class="img-two" src="{% static 'my_app/images/happy.svg' %}">
            </div>
        </div>


    </div>
</div>
{% endblock header-content %}

{% block main-content %}
<div class="container">
    <div class="row footer ">

        <div style=" box-shadow: inset 0 0 2000px rgba(87, 92, 95, 0.8); "
         class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div style="border-radius: 13px;" class="modal-content linear">
                    <div class="modal-header post-bg">
                        <h6 class="white"><b>Would You like to provide more information?</b></h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="white">Providing us with more information about yourself and what interests you will help us
                            to better serve you with streamlined contents based on your interests
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'interests' %}" class="modal-button">Yes</a>
                        <a href="{% url 'homepage' %}" class="modal-button">Maybe Later</a>
                        <!-- <button type="button" class="modal-button" data-dismiss="modal">Maybe Later</button> -->
                    </div>

                </div>
            </div>

        </div>


        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="mt-2" style="text-align: center;">
            <img class="icon" src="{% static 'my_app/images/file.png' %}">
            </div>
            <div>
                <p class="p-purple white mt-2">
                    Cutting Edge Software Development
                </p>
                <p class="white pl-4 pr-4 pt-1">
                We leverage on the best design techniques to produce innovative software solutions for you and your business. We understand the world is changing and we keep evolving with it by using the most recent tech stacks to create mindblowing applications

                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="mt-2" style="text-align: center;">
                <img class="icon" src="{% static 'my_app/images/qr-code.png' %}">
            </div>
            <div>
                <p class="p-purple white mt-2">
                    Business Branding
                </p>
                <p class=" white pl-4 pr-4 pt-1">
                Here at Signacode, We intertwine branding and technology. We help our clients build a dogged business identity and customer experience. Our branding packages will give your brand a clear way to own the market
                </p>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="mt-2" style="text-align: center;">
                <img class="icon" src="{% static 'my_app/images/computer.png' %}">
            </div>
            <div>
                <p class="p-purple white mt-2">
                    Tech Tutors
                </p>
                <p class="white pl-4 pr-4 pt-1">
                    Get equipped with undeniable skills of the century by enrolling for any of our classes handled by top experts. We offer classes in Blockchain, Programming and Software Development, Graphics and UI/UX Designs, Branding and a few others
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 30px;" class="col-12 p-4 light-bg rounded mt-4 m-auto text-center"  >
            <div class="m-auto text-center">
            <h3 class="text-center" >Stay Updated With Tech News Around the Globe</h3>
            <a class="button-mini mt-4 " href="#"> Tech Articles</a>
        </div>
    </div>
    </div>

    <div class="row g-0">
        {% for news in technews %}

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mt-3 d-flex align-items-stretch">
            <div class="card mt-4 mb-4 " style="width: 100%;">
                <img class="card-img-top" src="{{news.image_url}}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title post-heading">{{news.title}}</h6>
                    <!-- <p class="card-text post-body">{{news.content}}</p> -->

                </div>
                <div style="text-align: center;">
                    <a href="{% url 'technews-detail' news.id %}" class="btn btn-sm btn-outline-secondary mb-2">Read More...</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


    <div class="row mt-2 mb-2">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 latest-articles">
            <p class="p-heading">LATEST ARTICLES</p>
            <div class="container">
                <div class="row articles-div mt-4 rounded">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img class="img-fluid" src="{% static 'my_app/images/code.jpg' %}">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="post-text-div">
                            <p class="mt-2 post-heading"> Post title goes here | <span
                                    class="badge badge-secondary">Tech</span></p>
                            <p class="post-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
                                accusamus, alias illo fuga consequuntur, doloribus magni voluptates ducimus deserunt
                                incidunt cum dolorum molestias numquam reiciendis quisquam adipisci quaerat aperiam
                                facere.</p>
                            <small class="text-muted">09 Nov, 2021</small>
                        </div>
                    </div>
                </div>

                <div class="row articles-div rounded mt-4">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img class="post-img" src="{% static 'my_app/images/code.jpg' %}">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="post-text-div">
                            <p class="mt-2 post-heading"> Post title goes here | <span
                                    class="badge badge-secondary">Tech</span></p>
                            <p class="post-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
                                accusamus, alias illo fuga consequuntur, doloribus magni voluptates ducimus deserunt
                                incidunt cum dolorum molestias numquam reiciendis quisquam adipisci quaerat aperiam
                                facere.</p>
                            <small class="text-muted">09 Nov, 2021</small>
                        </div>
                    </div>
                </div>

                {% for post in posts %}

                <div class="row articles-div rounded mt-4">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <img class="post-img" src="{% static 'my_app/images/code.jpg' %}">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="post-text-div">
                            <p class="mt-2 post-heading"> {{ post.title}} | <span
                                    class="badge badge-secondary">{{post.title_tag}}</span></p>
                                    <small class="text-muted">{{post.post_date}}</small>
                                    {{post.body|truncatewords:20|safe}}</p>
                                <a href="{% url 'post-detail' post.id %}" class="btn btn-sm btn-outline-secondary mb-2 mt-2">Read More...</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>


        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div>
                <p class="p-heading">HOT TECH NEWS</p>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'my_app/images/code.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title post-heading">Post Title stays here</h5>
                        <p class="card-text post-body">Some quick example text to build on the card title and make up
                            the bulk of the card's content.</p>
                        <a href="#" class="button-mini ">Read More...</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock main-content %}

{% block js %}


<script>
    console.log("here");
{% if filled == "False" %}
        $("#exampleModal").modal('show');
        console.log("method worked");
{% else %}
    console.log("not true")

{% endif %}
</script>

<script src="{% static 'my_app/js/myjs.js'%}"></script>

{% endblock js %}